html,
body {
  height: 100%;
  margin: 0;
}


.button-panel {
    background-color: #ffee99;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.full-page {
  height: 100%;
  margin-left: 15px;
  margin-top: 55px;
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.save-check-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.save-check-button:hover {
  background-color: #45a049;
}

.print-check-button {
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.print-check-button:hover {
  background-color: #e64a19;
}

.edit-or-create-button-window {
  background-color: #efcfe3;
}
